# CMake build
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# GoogleTest (via FetchContent)
_deps/

# Executables
*.out
*.exe
*.app
*.bin

# test_results.txt

run_test*
test_results*

# VSCodeなどエディタ設定
.vscode/